<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous">
      <title>Вход</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>


    <div class="log">
        <div class="log__table1">
            <h2>Войти в аккаунт</h2>
            <form action="{{ url_for('login') }}" method="POST">
                <div class="form-group">
                  <label for="exampleInputEmail1">Адресс электронной почты</label>
<!--                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
                    {{ form.email(class="form-control", type="email") }}
                  <small id="emailHelp" class="form-text text-muted">Адресс почты, указанный при регистрации</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Пароль</label>
<!--                  <input type="password" class="form-control" id="exampleInputPassword1">-->
                    {{ form.password(class="form-control", type="password") }}
                </div>
                <div class="form-group form-check">
<!--                  <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
                    {{ form.remember_me(class="form-check-input", type="checkbox", id="exampleCheck1") }}
                  <label class="form-check-label" for="exampleCheck1">Запомнить меня!</label>
                </div>
<!--                <button type="submit" class="btn btn-primary">Войти</button>-->
                <div style="margin-top:15px">{{ form.submit(class="btn btn-primary", type="submit") }}</div>
              </form>
        </div>

        <div class="line" ></div>

        <div class="log__table2">
            <h2>Зарегистрироваться</h2>
            <form action="{{ url_for('register') }}" method="POST">

                <div class="form-group">
                    <label for="exampleInputPassword1">Введите своё имя</label>
<!--                    <input class="form-control" type="text" placeholder="">-->
                    {{ form2.name(class="form-control", type="text") }}
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1">Введите свою фамилию</label>
<!--                    <input class="form-control" type="text" placeholder="">-->
                      {{ form2.surname(class="form-control", type="text") }}
                  </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">Электронной почта</label>
<!--                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
                                        {{ form2.email(class="form-control", type="email", id="exampleInputEmail1") }}
                  <small id="emailHelp" class="form-text text-muted">Для одного адресса почты только один аккаунт</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Пароль</label>
<!--                  <input type="password" class="form-control" id="exampleInputPassword1">-->
                    {{ form2.password(class="form-control", type="password") }}
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Повторите пароль</label>
<!--                    <input type="password" class="form-control" id="exampleInputPassword1">-->
                    {{ form2.password_again(class="form-control", type="password") }}
                  </div>
<!--                <div class="form-group form-check">-->
<!--&lt;!&ndash;                  <input type="checkbox" class="form-check-input" id="exampleCheck1">&ndash;&gt;-->
<!--                  <label class="form-check-label" for="exampleCheck1">Запомнить меня!</label>-->
<!--                </div>-->
<!--                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>-->
                <div style="margin-top:15px">{{ form2.submit2(class="btn btn-primary", type="submit") }}</div>
              </form>
        </div>

    </div>
    {%if message%}
    <div style="margin-top: 30px; margin-top: 80px; margin-left:10%;margin-right:10%" class="alert alert-danger" role="alert">{{message}}</div>
    {%endif%}



</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</html>