{% extends "base.html" %}

{% block content %}

<div style="padding-top: 64px;"></div>
<div class="store">
    <div class="input-wrapper" data-text="">
        <input type="text" placeholder="Найти магазин...">          
      </div>
</div>


<div class="store__container" style="margin-left: 10%; margin-right: 10%;">

    <div class="row row-cols-1 row-cols-md-3">
      {% for shop in shops %}
        <div class="col mb-4">
          <div class="card">
            <img src="/static/img/shops/{{shop.id}}/main.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a href="{{ url_for('shop', shop_id=shop.id) }}" style="text-decoration:none;color:black;">{{shop.name}}</a></h5>
              <p class="card-text">{{shop.description[:50]}}...</p>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>

</div>

{% endblock %}
