{% extends "base.html" %}

{% block content %}
<div style="padding-top: 64px;"></div>
<div class="store">
    <div class="input-wrapper" data-text="">
        <input type="text" placeholder="Найти товар...">          
      </div>
</div>


<div class="store__container" style="margin-left: 10%; margin-right: 10%;">
<div class="row">

  {% for good in goods %}
  <div class="card mb-3 col-xl-6">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/static/img/shops/{{good.shop_id}}/goods/{{good.id}}/good_photo_1.png" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <a href="{{url_for('good', shop_id=good.shop_id, good_id=good.id)}}"><h5 class="card-title">{{good.name}}</h5></a>
          <p class="card-text">{{good.description[:50]}}</p>
          <p class="card-text"><small class="text-muted">{{good.price}}</small></p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}



</div>
</div>

<div class="etfef" style="margin-top: 1412px"></div>


{% endblock %}